.tree {
  overflow-x: hidden;
  overflow-y: auto;
}

.m-node {
  &.placeholder {
    border: 1px dashed #1385e5;
  }

  .inner {
    font-size: 12px;
    font-family: Menlo;
  }

  .node {
    display: inline-block;
    width: 100%;
    padding: 4px 5px;

    &.is-active {

    }
  }
}
a {
  color: black;
    font-size: 12px;
    font-family: Menlo;
}
